.container {
  height: 50%;
  width: 50%;
  display: grid;
  gap: 1vh 1vw;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.gameCube {
  height: 100% !important;
  width: 100% !important;
  background-color: lightblue;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.disabled {
  pointer-events: none;
}
