h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2vh 3vw;
}

.game-name {
  margin: 10px 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 95% auto;
  place-items: center;
}
