h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 2vh 3vw;
  background-color: #eee;
}

.game-name {
  margin: 10px 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: lightseagreen;
}

.container {
  display: grid;
  grid-template-rows: auto 90%;
  place-items: center;
}

.X {
  background-color: lightcoral !important;
  pointer-events: none;
}

.O {
  background-color: lightseagreen !important;
  pointer-events: none;
}

@media (max-height: 550px) {
  .game-name {
    visibility: hidden;
  }
}
